<div class="row">
    <div class="col-5 col-sm-3">
        <p>名前</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.customer_name|default_if_none:"未入力"  }}</p>
    </div>
</div>

<div class="row">
    <div class="col-5 col-sm-3">
        <p>カナ</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.customer_kana|default_if_none:"未入力"  }}</p>
    </div>
</div>

<div class="row">
    <div class="col-5 col-sm-3">
        <p>郵便番号</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.customer_post_code|default_if_none:"未入力" }}</p>
    </div>
</div>

<div class="row">
    <div class="col-5 col-sm-3">
        <p>住所</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.customer_address|default_if_none:"未入力"  }}</p>
    </div>
</div>

<div class="row">
    <div class="col-5 col-sm-3">
        <p>電話番号</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.customer_tel_number|default_if_none:"未入力"  }}</p>
    </div>
</div>

<div class="row">
    <div class="col-5 col-sm-3">
        <p>メモ</p>
    </div>
    <div class="col-7 col-sm-9">
        <p>{{  item.customer_memo|default_if_none:"未入力" }}</p>
    </div>
</div>
